@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root{
  --primary-color:#1C1C1C;
  --secondary-color:#9FA1A6;
  --primary-background:#111111;
  --secondary-background:#EBEEF0;
  --approve-color:#0085FF;
  --approve-background:#D0F4FF;
  --success-color:#55BC97;
  --blue-color:#628CDD;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
