* {
  box-sizing: border-box;
}
:root {
  --primary-color: #1c1c1c;
  --secondary-color: #9fa1a6;
  --primary-background: #111111;
  --secondary-background: #ebeef0;
  --approve-color: #0085ff;
  --approve-background: #d0f4ff;
  --success-color: #55bc97;
  --blue-color: #628cdd;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  direction: rtl;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.page__container {
  width: 90%;
  margin: 2rem auto;
  border-radius: 0.25rem;
  padding: 1.5rem;
  background-color: var(--secondary-background);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-primary {
  background-color: var(--primary-background);
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid var(--primary-background);
  border-radius: 0.5rem;
  transition: 0.3s linear;
}
.btn-primary:hover {
  background-color: transparent;
  color: var(--primary-background);
}
