@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root{
  --primary-color:#1C1C1C;
  --secondary-color:#9FA1A6;
  --primary-background:#111111;
  --secondary-background:#EBEEF0;
  --approve-color:#0085FF;
  --approve-background:#D0F4FF;
  --success-color:#55BC97;
  --blue-color:#628CDD;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  direction: rtl;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.page__container{
  width: 90%;
  margin: 2rem auto;
  border-radius: 0.25rem;
  padding:1.5rem;
  background-color: var(--secondary-background);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-primary{
  background-color: var(--primary-background);
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid var(--primary-background);
  border-radius: 0.5rem;
  transition: 0.3s linear;
}
.btn-primary:hover{
  background-color: transparent;
  color:  var(--primary-background);
}