.search__input{
    position: relative;
}
.search__input input{
    border: 1px solid var(--primary-background);
    border-radius: 0.25rem;
    outline: none;
    background-color: transparent;
    padding: 0.3rem 1.25rem;
}
.search__input label{
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
}